<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<title>隘門沙灘</title>

<!-- Favicon -->
<link rel="icon" href="img/core-img/PenghuTraveler_icon.ico">

<!-- Style CSS -->
<link rel="stylesheet" href="style.css">
</head>

<body>
<!-- Preloader -->
<div id="preloader">
  <div class="preload-content">
    <div id="original-load"></div>
  </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area"> 
  
  <!-- Top Header Area -->
  <div class="top-header">
    <div class="container h-100">
      <div class="row h-100 align-items-center"> 
        <!-- Breaking News Area -->
        <div class="col-12 col-sm-8">
          <div class="breaking-news-area">
            <div id="breakingNewsTicker" class="ticker">
              <ul>
                <li><a href="#">我在澎湖天氣晴</a></li>
                <li><a href="#">澎湖好吃又好玩</a></li>
                <li><a href="#">陽光沙灘仙人掌</a></li>
                <li><a href="#">快來澎湖FUN一夏</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Logo Area -->
  <div class="logo-area text-center">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12"> <a href="index.html" class="original-logo"><img src="img/core-img/PenghuTraveler1.png" alt=""></a> </div>
      </div>
    </div>
  </div>
  
  <!-- Nav Area -->
  <div class="original-nav-area" id="stickyNav">
    <div class="classy-nav-container breakpoint-off">
      <div class="container"> 
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between"> 
          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler"> <span class="navbarToggler"></span> </div>
          
          <!-- Menu -->
          <div class="classy-menu" id="originalNav"> 
            <!-- close btn -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            
            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="#">澎湖景點</a>
                  <ul class="dropdown">
                    <li><a href="#">馬公市</a></li>
                    <li><a href="#">湖西鄉</a></li>
                    <li><a href="#">白沙鄉</a></li>
                    <li><a href="#">西嶼鄉</a></li>
                    <li><a href="#">七美鄉</a></li>
                    <li><a href="#">望安鄉</a></li>
                  </ul>
                </li>
                <li><a href="#">文章分類</a>
                  <div class="megamenu">
                    <ul class="single-mega cn-col-4">
                      <li class="title">馬公市</li>
                      <li><a href="guanyinTemple.html">觀音亭</a></li>
                      <li><a href="TianhouTemple.html">天后宮</a></li>
                      <li><a href="duxing10thVillage.html">篤行十村</a></li>
                      <li><a href="TianrenLake.html">天人湖</a></li>
                    </ul>
                    <ul class="single-mega cn-col-4">
                      <li class="title">湖西鄉</li>
                      <li><a href="aimenBeach.html">隘門沙灘</a></li>
                      <li><a href="mosesPartingSea.html">摩西分海</a></li>
                    </ul>
                    <ul class="single-mega cn-col-4">
                      <li class="title">白沙鄉</li>
                      <li><a href="paradiseRoad.html">後寮天堂路</a></li>
                      <li><a href="Sea-crossingBridge.html">跨海大橋</a></li>
                    </ul>
                    <ul class="single-mega cn-col-4">
                      <li class="title">西嶼鄉</li>
                      <li><a href="erkanSettlementPreservationArea.html">二崁聚落</a></li>
                      <li><a href="NeianBeach.html">內垵沙灘</a></li>
                      <li><a href="threeImmortalsPagoda.html">外垵三仙塔</a></li>
                    </ul>
                    <ul class="single-mega cn-col-4">
                      <li class="title">望安鄉</li>
                      <li><a href="DongjiyuLighthouse.html">東吉嶼燈塔</a></li>
                      <li><a href="BlueCave.html">西吉嶼藍洞</a></li>
                    </ul>
                    <ul class="single-mega cn-col-4">
                      <li class="title">七美鄉</li>
                      <li><a href="DoubleHeartShihu.html">雙心石滬</a></li>
                      <li><a href="LittleTaiwan.html">小台灣</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              
              <!-- Search Form  -->
              <div id="search-wrapper">
                <form action="#">
                  <input type="text" id="search" placeholder="Search something...">
                  <div id="close-icon"></div>
                  <input class="d-none" type="submit" value="">
                </form>
              </div>
            </div>
            <!-- Nav End --> 
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### --> 
<!-- ##### Single Blog Area Start ##### -->
<div class="single-blog-wrapper section-padding-0-100">
  <div class="container">
    <div class="row"> 
      <!-- ##### Post Content Area ##### -->
      <div class="single-blog-area blog-style-2 mb-50">
        <div class="single-blog-thumbnail"> <img src="img/bg-img/aimen_slide2.jpg" alt=""> </div>
        <div class="single-blog-area blog-style-2 mb-50">
          <div class="single-blog-thumbnail"> <img src="img/bg-img/aimen_slide3.jpg" alt=""> </div>
        </div>
      </div>
      <div class="col-12 "> 
        <!-- Single Blog Area  -->
        <div class="single-blog-area blog-style-2 mb-50"> 
          <!-- Blog Content -->
          <div class="single-blog-content">
            <div class="line"></div>
            <a href="#" class="post-tag">Penghu Traveler</a>
            <h4><a href="#" class="post-headline mb-0">隘門沙灘</a></h4>
            <p>位在澎湖縣湖西鄉的隘門沙灘，是遊客來澎湖必去的景點之一，蔚藍的海水搭配蜿蜒乾淨的貝殼沙灘，有種來到度假勝地馬爾地夫的既視感，雖然疫情期間不能出國度假，但不妨也可以選擇到澎湖走走，拍照打卡，偽出國一下。隘門沙灘的海域相較於澎湖其他沙灘平靜且安全許多，因此許多人都會選擇來隘門沙灘玩水上活動，這邊的水上活動也是八面玲瓏，選擇非常多種，從香蕉船到拖曳傘，有許多設施可以暢玩，不敢玩水的人也可以留在沙灘玩排球、休憩，也可以到旁邊的林投公園散步喝喝咖啡，放鬆身心靈。晚上也有BBQ燒烤吃到飽，來到澎湖不吃一下當地的新鮮海鮮說不過去吧~不吃海鮮也有其他肉品可以選擇，在沙灘烤肉應該是蠻機會難得的體驗，也蠻有度假的氣氛！白天玩水，晚上吃燒烤，很適合一家人或一群朋友一天的行程。</p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ##### Sidebar Area ##### -->
    <div class="col-12 col-md-4 col-lg-3">
      <div class="post-sidebar-area"> 
		<form action="" method="post" onsubmit="return false;">
		<INPUT TYPE="text" id="username" name="username" value="" placeholder="暱稱" class="BG-Copy" size="30" />
		<INPUT TYPE="text" id="useremail" name="useremail" value="" placeholder="email" class="BG-Copy" size="30" />
		<br>
		<TEXTAREA NAME="feedback" id="feedback" ROWS="8" COLS="80" placeholder="想說甚麼都可以" class="BG-Copy"
			style="border:2px #2f3944 solid;"></TEXTAREA>
		<br>
		<!-- 定義送出鍵的動作，使用JavaScript的function-->
		<INPUT TYPE="submit" VALUE="送出" class="Base" style='text-align:"right"' onclick='processFormData();addMsg()'>
		</form>  
        </div>

        
        <!-- Widget Area -->
        <div class="sidebar-widget-area">
			<br></br>
          <h5 class="title">延伸閱讀</h5>
          <div class="widget-content"> 
            
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex align-items-center widget-post"> 
              <!-- Post Thumbnail -->
              <div class="post-thumbnail"> <img src="img/blog-img/sq1.jpg" alt=""> </div>
              <!-- Post Content -->
              <div class="post-content"> <a href="#" class="post-tag">澎湖生活</a>
                <h4><a href="#" class="post-headline">特別的元宵節習俗</a></h4>
              </div>
            </div>
            
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex align-items-center widget-post"> 
              <!-- Post Thumbnail -->
              <div class="post-thumbnail"> <img src="img/blog-img/sq2.jpg" alt=""> </div>
              <!-- Post Content -->
              <div class="post-content"> <a href="#" class="post-tag">網美景點</a>
                <h4><a href="#" class="post-headline">澎湖看夕陽好去處</a></h4>
              </div>
            </div>
            
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex align-items-center widget-post"> 
              <!-- Post Thumbnail -->
              <div class="post-thumbnail"> <img src="img/blog-img/sq3.jpg" alt=""> </div>
              <!-- Post Content -->
              <div class="post-content"> <a href="#" class="post-tag">外島FUN一下</a>
                <h4><a href="#" class="post-headline">來去南方四島一日遊</a></h4>
              </div>
            </div>
            
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex align-items-center widget-post"> 
              <!-- Post Thumbnail -->
              <div class="post-thumbnail"> <img src="img/blog-img/sq4.jpg" alt=""> </div>
              <!-- Post Content -->
              <div class="post-content"> <a href="#" class="post-tag">澎湖秘境</a>
                <h4><a href="#" class="post-headline">天人湖-澎湖人的後花園</a></h4>
              </div>
            </div>
          </div>
        </div>
        <!-- Widget Area -->
        <div class="sidebar-widget-area">
          <h5 class="title">標籤</h5>
          <div class="widget-content col-12">
            <ul class="tags col-12">
              <li><a href="#">湖西</a></li>
              <li><a href="#">網美</a></li>
              <li><a href="#">沙灘</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Single Blog Area End ##### --> 

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area text-center">
  <div class="container">
    <div class="row">
      <div class="col-12"> 
        <!-- Footer Nav Area -->
        <div class="classy-nav-container breakpoint-off"> 
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-center"> 
            
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler"> <span class="navbarToggler"><span></span><span></span><span></span></span> </div>
            
            <!-- Menu -->
            <div class="classy-menu"> 
              
              <!-- close btn -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
  
</footer>
<!-- ##### Footer Area End ##### --> 

<!-- jQuery (Necessary for All JavaScript Plugins) --> 
<script src="js/jquery/jquery-2.2.4.min.js"></script> 
<!-- Popper js --> 
<script src="js/popper.min.js"></script> 
<!-- Bootstrap js --> 
<script src="js/bootstrap.min.js"></script> 
<!-- Plugins js --> 
<script src="js/plugins.js"></script> 
<!-- Active js --> 
<script src="js/active.js"></script>
</body>
</html>